<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>
<body>

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-6">

            <div style="margin-top: 20% ">

                <div th:if="${param.error}">
                    Invalid username and password.
                </div>
                <div th:if="${param.logout}">
                    You have been logged out.
                </div>

                <form method="post" th:action="@{/login}">
                    <div class="mb-3">
                        <label class="form-label" for="exampleInputEmail1">Email address or username</label>
                        <input aria-describedby="emailHelp" class="form-control" id="exampleInputEmail1" name="username"
                               type="text">

                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="exampleInputPassword1">Password</label>
                        <input class="form-control" id="exampleInputPassword1" name="password" type="password">
                    </div>

                    <button class="btn btn-primary" type="submit">Log in</button>
                    <a class="btn btn-primary" role="button" th:href="@{/registration}">Registration</a>


                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>