<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>
<body>

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-6">

            <div style="margin-top: 20% ">

                <div th:if="${param.error}">
                    Invalid username and password.
                </div>
                <div th:if="${param.logout}">
                    You have been logged out.
                </div>

                <form method="post" th:action="@{/registration}" th:object="${user}">
                    <div class="mb-3">
                        <label class="form-label" for="username">Username</label>
                        <input class="form-control" id="username" name="username" required th:field="*{username}"
                               type="text"/>
                        <div style="color:red" th:errors="*{username}" th:if="${#fields.hasErrors('username')}">Username
                            Error
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="email">Email address</label>
                        <input aria-describedby="emailHelp" class="form-control" id="email" name="email" required th:field="*{email}"
                               type="text"/>
                        <div style="color:red" th:errors="*{email}" th:if="${#fields.hasErrors('email')}">email Error
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="password">Password</label>
                        <input class="form-control" id="password" name="password" required th:field="*{password}"
                               type="password"/>
                        <div style="color:red" th:errors="*{password}" th:if="${#fields.hasErrors('password')}">email
                            Error
                        </div>
                    </div>

                    <button class="btn btn-primary" type="submit">New profile</button>
                    <a class="btn btn-primary" role="button" th:href="@{/login}">Login</a>


                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>