<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head th:replace="~{fragments/head}">
</head>
<body>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-10">

            <div th:replace="~{fragments/navbar}">
            </div>
            <form enctype="multipart/form-data" th:action="@{/storage/putFile}" th:method="POST">
                <input accept="" multiple name="file" type="file">
                <input name="path" th:value="${path}" type="hidden"/>
                <input type="submit" value="Отправить файлы"/>
            </form>

            <form enctype="multipart/form-data" method="post" th:action="@{/storage/putFolder}">
                <input directory="" id="files" mozdirectory="" multiple="" name="file" type="file" webkitdirectory="">
                <input name="path" th:value="${path}" type="hidden"/>
                <input class="button" type="submit" value="Отправить папку"/>
            </form>

            <form th:action="@{/storage/createFolder}" th:method="POST">
                <input name="folderName" type="text">
                <input name="path" th:value="${path}" type="hidden"/>
                <input type="submit" value="Создать Папку"/>
            </form>

            <p>Текущий путь : <span th:text="${path}"></span></p>
            <div>
                <p><a th:href="@{'/storage?path='+${backPath}}"><img th:src="@{/img/back.png}"/>...</a>
                </p>
            </div>


            <div th:each="object : ${objectList}">
                <div th:if="${object.get().isDir()}">
                    <div th:with="folderName=${object.get().objectName()}">
                        <div th:with="folderNameWeb=${folderName.substring(path.length(),folderName.length()-1)}">


                            <div class="btn-group dropend">

                                <button aria-expanded="false"
                                        class="btn-sm btn btn-outline-dark dropdown-toggle dropdown-toggle-split"
                                        data-bs-auto-close="false" data-bs-toggle="dropdown" type="button">
                                    <span class="visually-hidden">Переключатель выпадающего списка</span>
                                </button>
                                <img th:src="@{/img/folder.png}"/>
                                <a role="button" th:href="@{'/storage?path='+${folderName}}">
                                    <span th:text="${folderNameWeb}"></span>
                                </a>
                                <ul aria-labelledby="dropdownMenuButton1" class="dropdown-menu">
                                    <li>
                                        <img th:src="@{/img/folder.png}"/>
                                        <a role="button" th:href="@{'/storage?path='+${folderName}}">
                                            <span th:text="${folderNameWeb}"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <form th:action="@{/storage/deleteFolder}" th:method="DELETE">
                                            <input name="path" th:value="${path}" type="hidden"/>
                                            <input name="folderName" th:value="${folderName}" type="hidden">
                                            <input class="btn-sm btn-danger" type="submit" value="Удалить папку"/>
                                        </form>
                                    </li>
                                    <li>

                                        <form th:action="@{/storage/renameFolder}" th:method="PATCH">
                                            <p>

                                                <input name="path" th:value="${path}" type="hidden"/>
                                                <input name="folderName" th:value="${folderName}" type="hidden"/>

                                                <label>Изменить имя и путь папки
                                                    <input name="folderNameNew"
                                                           th:value="${folderName}"
                                                           type="text">
                                                </label>

                                                <input class="btn-sm btn-primary" type="submit"
                                                       value="Редактировать"/>

                                            </p>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div th:each="object : ${objectList}">
                <div th:if="${!object.get().isDir()}">
                    <div th:with="objectName=${object.get().objectName()}">
                        <div th:with="objectNameWeb=${objectName.substring(object.get().objectName().lastIndexOf('/')+1)}">
                            <div th:if="${!object.get().isDir()}">
                                <div th:if="${!objectName.equals(path)}">
                                    <div th:if="${!objectNameWeb.isEmpty()}">

                                        <div class="btn-group dropend">

                                            <button aria-expanded="false"
                                                    class="btn-sm btn-outline-success dropdown-toggle dropdown-toggle-split"
                                                    data-bs-toggle="dropdown" type="button">
                                                <span class="visually-hidden">Переключатель выпадающего списка</span>
                                            </button>
                                            <img th:src="@{/img/file.png}"/>
                                            <a role="button"
                                               th:href="@{'/storage/download?fileName='+${objectName}}">
                                                <span th:text="${objectNameWeb}"></span>
                                            </a>

                                            <ul aria-labelledby="dropdownMenuButton1" class="dropdown-menu">
                                                <li>
                                                    <img th:src="@{/img/file.png}"/>
                                                    <a role="button"
                                                       th:href="@{'/storage/download?fileName='+${objectName}}">
                                                        <span th:text="${objectNameWeb}"></span>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a class="btn btn-success" role="button"
                                                       th:href="@{'/storage/download?fileName='+${objectName}}">
                                                        Скачать
                                                    </a>
                                                </li>

                                                <li>
                                                    <form th:action="@{/storage/delete}" th:method="DELETE">
                                                        <input name="fileName" th:value="${objectName}" type="hidden">
                                                        <input class="btn-sm btn-danger" role="button" type="submit"
                                                               value="Удалить файл"/>
                                                    </form>
                                                </li>

                                                <li>
                                                    <form th:action="@{/storage/transferFile}" th:method="PATCH">

                                                        <input name="path" th:value="${path}" type="hidden"/>
                                                        <input name="fileName"
                                                               th:value="${objectName}"
                                                               type="hidden"/>

                                                        <label>Имя новой папки
                                                            <input name="folderName" th:value="${path}" type="text">
                                                        </label>
                                                        <button class="btn-sm  btn-primary" type="submit">Перенести
                                                            файл
                                                        </button>

                                                    </form>
                                                </li>
                                                <li>
                                                    <form th:action="@{/storage/renameFile}" th:method="PATCH">


                                                        <input name="path"
                                                               th:value="${objectName.substring(0,objectName.lastIndexOf('/')+1)}"
                                                               type="hidden"/>
                                                        <input name="fileName" th:value="${objectName}" type="hidden"/>

                                                        <label>Новое имя
                                                            <input name="fileNameNew"
                                                                   th:value="${objectNameWeb}"
                                                                   type="text">
                                                        </label>

                                                        <button class="btn-sm btn-primary" type="submit">Переименовать
                                                            файл
                                                        </button>

                                                    </form>

                                                </li>


                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>