<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head th:replace="~{fragments/head}">
</head>
<body>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-10">

            <div th:replace="~{fragments/navbar}">
            </div>
            <form enctype="multipart/form-data" th:action="@{/storage/putFile}" th:method="POST">
                <input accept="" multiple name="file" type="file">
                <input name="path" th:value="${path}" type="hidden"/>
                <input type="submit" value="Отправить файлы"/>
            </form>

            <form enctype="multipart/form-data" method="post" th:action="@{/storage/putFolder}">
                <input directory="" id="files" mozdirectory="" multiple="" name="file" type="file" webkitdirectory="">
                <input name="path" th:value="${path}" type="hidden"/>
                <input class="button" type="submit" value="Отправить папку"/>
            </form>

            <form th:action="@{/storage/createFolder}" th:method="POST">
                <input name="folderName" type="text">
                <input name="path" th:value="${path}" type="hidden"/>
                <input type="submit" value="Создать Папку"/>
            </form>

            <p>Текущий путь : <span th:text="${path}"></span></p>
            <div>
                <p><a th:href="@{'/storage?path='+${backPath}}"><img th:src="@{img/back.png}"/>...</a>
                </p>
            </div>

            <div th:replace="~{fragments/error}"></div>

            <div class="container">


                <div class="row row-cols-5">
                    <div class="col col-lg-1 ">

                    </div>
                    <div class="col col-lg-6 ">
                        <p><a th:href="@{'/storage?sort=name&search='+${search}}">Имя</a></p>
                    </div>
                    <div class="col col-lg-1 ">
                        <p class="text-end"><a th:href="@{'/storage?sort=type&search='+${search}}">Тип</a></p>
                    </div>
                    <div class="col col-lg-2 ">
                        <p class="text-end"><a th:href="@{'/storage?sort=size&search='+${search}}">Размер</a></p>
                    </div>
                    <div class="col col-lg-2 text-wrap">
                        <p class="text-end"><a th:href="@{'/storage?sort=date&search='+${search}}">Дата изменения</a>
                        </p>
                    </div>
                </div>


                <div th:each="object : ${objectList}">
                    <div th:if="${object.isDir()}">
                        <div th:with="folderName=${object.getObjectName()}">
                            <div th:with="folderNameWeb=${object.getObjectNameWeb()}">
                                <div class="row row-cols-5">
                                    <div class="col col-lg-1">
                                        <div class="btn-group dropend">
                                            <form th:action="@{/storage/deleteFolder}" th:method="DELETE">
                                                <input name="path" th:value="${path}" type="hidden"/>
                                                <input name="folderName" th:value="${folderName}"
                                                       type="hidden">
                                                <input name="submit" src="img/delete.png" type="image">
                                            </form>

                                            <button aria-expanded="false"
                                                    class="btn-sm btn-outline-dark dropdown-toggle dropdown-toggle-split"
                                                    data-bs-auto-close="false" data-bs-toggle="dropdown"
                                                    type="button">
                                                <span class="visually-hidden">Переключатель выпадающего списка</span>
                                            </button>
                                            <ul aria-labelledby="dropdownMenuButton1" class="dropdown-menu px-1 py-1">
                                                <li>
                                                    <img th:src="@{img/folder.png}"/>
                                                    <a role="button" th:href="@{'/storage?path='+${folderName}}">
                                                        <span th:text="${folderNameWeb}"></span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <form th:action="@{/storage/deleteFolder}" th:method="DELETE">
                                                        <input name="path" th:value="${path}" type="hidden"/>
                                                        <input name="folderName" th:value="${folderName}"
                                                               type="hidden">
                                                        <input class="btn-sm btn-danger px-1 py-1" type="submit"
                                                               value="Удалить папку"/>
                                                    </form>
                                                </li>
                                                <li>
                                                    <form th:action="@{/storage/renameFolder}" th:method="PATCH">

                                                        <input name="path" th:value="${path}" type="hidden"/>
                                                        <input name="folderName" th:value="${folderName}"
                                                               type="hidden"/>

                                                        <label>Изменить имя и путь папки
                                                            <input name="folderNameNew"
                                                                   th:value="${folderName}"
                                                                   type="text">
                                                        </label>

                                                        <input class="btn-sm btn-primary" type="submit"
                                                               value="Редактировать"/>

                                                    </form>
                                                </li>
                                            </ul>


                                        </div>
                                    </div>
                                    <div class="col col-lg-6 text-truncate">
                                        <img th:src="@{img/folder.png}"/>
                                        <a role="button" th:href="@{'/storage?path='+${folderName}}">
                                            <span th:text="${folderNameWeb}"></span>
                                        </a>
                                    </div>
                                    <div class="col col-lg-1">
                                        <p class="text-end">Папка</p>
                                    </div>
                                    <div class="col col-lg-2">
                                        <p></p>
                                    </div>
                                    <div class="col col-lg-2">
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div th:each="object : ${objectList}">
                    <div th:if="${!object.isDir()}">
                        <div th:with="objectName=${object.getObjectName()}">
                            <div th:with="objectNameWeb=${object.getObjectNameWeb()}">
                                <div th:if="${!object.isDir()}">
                                    <div th:if="${!objectName.equals(path)}">
                                        <div th:if="${!objectNameWeb.isEmpty()}">
                                            <div class="row row-cols-5">
                                                <div class="col col-lg-1">
                                                    <div class="btn-group dropend ">
                                                        <form th:action="@{/storage/delete}"
                                                              th:method="DELETE">
                                                            <input name="fileName" th:value="${objectName}"
                                                                   type="hidden">
                                                            <input name="path" th:value="${path}" type="hidden"/>
                                                            <input name="submit" src="img/delete.png" type="image">
                                                        </form>

                                                        <button aria-expanded="false"
                                                                class="btn-sm btn-outline-success dropdown-toggle dropdown-toggle-split"
                                                                data-bs-toggle="dropdown" type="button">
                                                            <span class="visually-hidden">Переключатель выпадающего списка</span>
                                                        </button>
                                                        <ul aria-labelledby="dropdownMenuButton1"
                                                            class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start px-1 py-1">
                                                            <li>
                                                                <img th:src="@{img/file.png}"/>
                                                                <a role="button"
                                                                   th:href="@{'/storage/download?fileName='+${objectName}}">
                                                                    <span th:text="${objectNameWeb}"></span>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <div class="px-1 py-1">
                                                                    <a class="btn btn-success" role="button"
                                                                       th:href="@{'/storage/download?fileName='+${objectName}}">
                                                                        Скачать
                                                                    </a>
                                                                </div>

                                                            </li>

                                                            <li>
                                                                <form th:action="@{/storage/delete}" class="px-1 py-1"
                                                                      th:method="DELETE">
                                                                    <input name="fileName" th:value="${objectName}"
                                                                           type="hidden">
                                                                    <input class="btn-sm btn-danger px-1 py-1"
                                                                           role="button"
                                                                           type="submit"
                                                                           value="Удалить файл"/>
                                                                </form>
                                                            </li>

                                                            <li>
                                                                <form th:action="@{/storage/transferFile}"
                                                                      th:method="PATCH" class="px-1 py-1">

                                                                    <input name="path" th:value="${path}"
                                                                           type="hidden"/>
                                                                    <input name="fileName"
                                                                           th:value="${objectName}"
                                                                           type="hidden"/>
                                                                    <label>Имя новой папки
                                                                        <input name="folderName" th:value="${path}"
                                                                               type="text">
                                                                    </label>
                                                                    <button class="btn-sm  btn-primary text-end "
                                                                            type="submit">
                                                                        Перенести
                                                                        файл
                                                                    </button>
                                                                </form>
                                                            </li>
                                                            <li>
                                                                <form class="px-1 py-1"
                                                                      th:action="@{/storage/renameFile}"
                                                                      th:method="PATCH">


                                                                    <input name="path"
                                                                           th:value="${objectName.substring(0,objectName.lastIndexOf('/')+1)}"
                                                                           type="hidden"/>
                                                                    <input name="fileName" th:value="${objectName}"
                                                                           type="hidden"/>

                                                                    <label>Новое имя
                                                                        <input name="fileNameNew"
                                                                               th:value="${objectNameWeb}"
                                                                               type="text">
                                                                    </label>
                                                                    <button class="btn-sm btn-primary"
                                                                            type="submit">
                                                                        Переименовать
                                                                        файл
                                                                    </button>

                                                                </form>

                                                            </li>


                                                        </ul>

                                                    </div>

                                                </div>
                                                <div class="col col-lg-6 text-truncate">
                                                    <img th:src="@{img/file.png}"/>
                                                    <a role="button" class="breakAll"
                                                       th:href="@{'/storage/download?fileName='+${objectName}}">
                                                        <span class="text-break" th:text="${objectNameWeb}"></span>
                                                    </a>

                                                </div>
                                                <div class="col col-lg-1 text-truncate">
                                                    <p class="text-end" th:text="${object.getType()}"></p>
                                                </div>
                                                <div class="col col-lg-2 text-truncate">
                                                    <p class="text-end" th:text="${object.getSize()/1024}+' Кб'"></p>
                                                </div>
                                                <div class="col col-lg-2 text-truncate">
                                                    <p class="text-end" th:text="${object.getLastModified()}"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>