<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form th:method="POST" th:action="@{/storage/putFile}"

      enctype="multipart/form-data">
    <table>
        <tr>
            <td>Выберите файлы для загрузки</td>
            <td><input type="file" name="file" multiple accept=""></td>
        </tr>
        <input type="hidden" name="path" th:value="${path}"/>
        <tr>
            <td><input type="submit" value="Отправить файлы"/></td>
        </tr>
    </table>
</form>

<form method="post" enctype="multipart/form-data" th:action="@{/storage/putFolder}">
    <input type="file" name="file" id="files" multiple="" directory="" webkitdirectory="" mozdirectory="">
    <input type="hidden" name="path" th:value="${path}"/>
    <input class="button" type="submit" value="Отправить папку"/>
</form>

<form th:method="POST" th:action="@{/storage/createFolder}">

    <table>
        <label>Создать новую папку
            <input type="text" name="folderName">
        </label>
        <input type="hidden" name="path" th:value="${path}"/>
        <tr>
            <td><input type="submit" value="Создать"/></td>
        </tr>
    </table>
</form>


<div th:each="object : ${objectList}">
    <div th:if="${object.get().isDir()}">
        <p>
            <a th:href="@{'/storage?path='+${object.get().objectName()}}">
                <span th:text="${object.get().objectName()}"></span>
            </a>
            <a th:href="@{'/storage/deleteFolder?folderName='+${object.get().objectName()}}"><span>  delete folder</span></a>
        </p>
    </div>
</div>


<div th:each="object : ${objectList}">
    <div th:if="${!object.get().isDir()}">
        <div th:if="${!object.get().objectName().equals(path)}">
            <p><a th:href="@{'/storage/download?fileName='+${object.get().objectName()}}">
                <span th:text="${object.get().objectName()}"></span>
            </a>
                <a th:href="@{'/storage/delete?fileName='+${object.get().objectName()}}"><span>  delete</span></a>
            </p>

            <form th:method="POST" th:action="@{/storage/transferFile}">
                <input type="hidden" name="path" th:value="${path}"/>
                <input type="hidden" name="fileName" th:value="${object.get().objectName()}"/>
                <p>
                    <label>Имя новой папки
                        <input name="folderName" type="text" th:value="${path}">
                    </label>
                </p>

                <input class="button" type="submit" value="Перенести файл"/>
            </form>

        </div>
    </div>
</div>

</body>
</html>