<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>
<body>
<div th:replace="~{fragments/navbar}">
</div>
<form enctype="multipart/form-data" th:action="@{/storage/putFile}" th:method="POST">
    <input accept="" multiple name="file" type="file">
    <input name="path" th:value="${path}" type="hidden"/>
    <input type="submit" value="Отправить файлы"/>
</form>

<form enctype="multipart/form-data" method="post" th:action="@{/storage/putFolder}">
    <input directory="" id="files" mozdirectory="" multiple="" name="file" type="file" webkitdirectory="">
    <input name="path" th:value="${path}" type="hidden"/>
    <input class="button" type="submit" value="Отправить папку"/>
</form>

<form th:action="@{/storage/createFolder}" th:method="POST">
    <input name="folderName" type="text">
    <input name="path" th:value="${path}" type="hidden"/>
    <input type="submit" value="Создать Папку"/>
</form>

<p>Текущий путь : <span th:text="${path}"></span></p>

<a th:href="@{'/storage?path='+${backPath}}"><span>...</span></a>
<div th:each="object : ${objectList}">
    <div th:with="folderName=${object.get().objectName()}">
        <div th:if="${object.get().isDir()}">
            <p>
                <a th:href="@{'/storage?path='+${folderName}}">
                    <span th:text="${folderName.substring(path.length(),folderName.length()-1)}"></span>
                </a>
            <form th:action="@{/storage/deleteFolder}" th:method="DELETE">
                <input name="folderName" th:value="${folderName}" type="hidden">
                <input type="submit" value="Удалить папку"/>
            </form>

            <form th:action="@{/storage/renameFolder}" th:method="PATCH">
                <p>

                    <input name="path" th:value="${path}" type="hidden"/>
                    <input name="folderName" th:value="${folderName}" type="hidden"/>

                    <label>Изменить имя и путь папки
                        <input name="folderNameNew"
                               th:value="${folderName}"
                               type="text">
                    </label>

                    <input class="button" type="submit" value="Редактировать"/>

                </p>
            </form>
            </p>
        </div>
    </div>
</div>
</div>


<div th:each="object : ${objectList}">
    <div th:with="objectName=${object.get().objectName()}">
        <div th:with="objectNameWeb=${objectName.substring(object.get().objectName().lastIndexOf('/')+1)}">
            <div th:if="${!object.get().isDir()}">
                <div th:if="${!objectName.equals(path)}">
                    <div th:if="${!objectNameWeb.isEmpty()}">



                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                Right-aligned menu
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <form th:action="@{/storage/delete}" th:method="DELETE">
                                    <input name="fileName" th:value="${objectName}" type="hidden">
                                    <input type="submit" value="Удалить файл"/>
                                </form>
                            </div>
                        </div>

                        <a th:href="@{'/storage/download?fileName='+${objectName}}">
                            <span th:text="${objectNameWeb}"></span>
                        </a>

                        <form th:action="@{/storage/delete}" th:method="DELETE">
                            <input name="fileName" th:value="${objectName}" type="hidden">
                            <input type="submit" value="Удалить файл"/>
                        </form>

                        <form th:action="@{/storage/transferFile}" th:method="PATCH">

                            <input name="path" th:value="${path}" type="hidden"/>
                            <input name="fileName"
                                   th:value="${objectName}"
                                   type="hidden"/>

                            <label>Имя новой папки
                                <input name="folderName" th:value="${path}" type="text">
                            </label>


                            <input class="button" type="submit" value="Перенести файл"/>

                        </form>
                        </p>
                        <form th:action="@{/storage/renameFile}" th:method="PATCH">


                            <input name="path" th:value="${objectName.substring(0,objectName.lastIndexOf('/')+1)}"
                                   type="hidden"/>
                            <input name="fileName" th:value="${objectName}" type="hidden"/>

                            <label>Новое имя
                                <input name="fileNameNew"
                                       th:value="${objectNameWeb}"
                                       type="text">
                            </label>

                            <input class="button" type="submit" value="Переименовать файл"/>


                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
            aria-expanded="false">
        Кнопка выпадающего списка
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li>
            <form th:action="@{/storage/createFolder}" th:method="POST">
                <input name="folderName" type="text">
                <input name="path" th:value="${path}" type="hidden"/>
                <input type="submit" value="Создать Папку"/>
            </form>
        </li>

    </ul>
</div>
</body>
</html>